@model ToDoList.Models.ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="button"][value="Edit"]').click(function () {
                $(this).closest('tr').children('.display').hide();
                $(this).closest('tr').children('.edit').show();
                $('input.display').hide();
                $(this).closest('tr').find('input.edit').show();
            });

            $('input[type="button"][value="Add todo"]').click(function () {
                $(this).closest('tr').children('.hidden').show();
                $(this).hide();
            });
        });
    </script>
</head>
<body>

    <div>
        <table>
            <tr>
                <th>Deadline</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </table>
    </div>

    @foreach (var item in Model.listItems)
    {
        <div>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td class="display">@Html.DisplayFor(i => item.Deadline)</td>
                        <td class="display">@Html.DisplayFor(i => item.Description)</td>
                        <td class="display">@Html.DisplayFor(i => item.State)</td>
                        <td style="display:none">@Html.HiddenFor(i => item.Id)</td>
                        <td class="edit" style="display:none">@Html.EditorFor(i => item.Deadline)</td>
                        <td class="edit" style="display:none">@Html.EditorFor(i => item.Description)</td>
                        <td class="edit" style="display:none">@Html.EditorFor(i => item.State)</td>
                        <td><input class="edit" style="display:none" type="submit" value="Save" /></td>
                        <td><input class="display" type="button" value="Edit" /></td>
                        <td><input class="display" type="button" value="Start" /></td>
                        <td><input class="display" type="button" value="Delete" /></td>
                    </tr>
                </table>
            }
        </div>
    }

    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td class="hidden" style="display:none">@Html.EditorFor(i => Model.item.Description)</td>
                    <td class="hidden" style="display:none">@Html.EditorFor(i => Model.item.Deadline)</td>
                    <td><input type="button" value="Add todo" /></td>
                    <td class="hidden" style="display:none"><input type="submit" value="Save" /></td>
                </tr>
            </table>
        }
        </div>

    </body>
</html>

